.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__title {
    text-align: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input {
    padding: 5px;
}

.form__error-message {
    color: red;
    text-align: center;
}