.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__title {
    text-align: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input {
    padding: 5px;
}

.form__error-message {
    color: red;
    text-align: center;
}

.form__message {
    text-align: center;
}

.form__button {
    background: #ffb728;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.form__button:hover {
    opacity: .9;
}